<h1>Employee Info</h1>

<div *ngFor="let data of data; let i = index">
    <ul>
        <li>{{ data.employeeId }}</li>
        <li>{{ data.employeeFirstName }}</li>
        <li>{{ data.employeeLastName }}</li>
        <li>{{ data.employeeAddress }}</li>
        <li>{{ data.employeeDOB }}</li>
    </ul>
    <button mat-raised-button color="primary" (click)="toggle()">Update Employee</button>
    <button mat-raised-button color="warn" (click)="delete(data.id)">Delete Employee</button>


    <form [formGroup] = "updateForm" *ngIf="show && i == i">
        <label for="employeeFirstName">First Name</label>
        <input type="text" formControlName = "employeeFirstName" id="employeeFirstName">
        <div *ngIf="employeeFirstName.invalid && (employeeFirstName.dirty || employeeFirstName.touched)" class="alert alert-danger">At least 4 characters is required</div>

        <label for="employeeLastName">Last Name</label>
        <input type="text" formControlName = "employeeLastName" id="employeeLastName">
        <div *ngIf="employeeLastName.invalid && (employeeLastName.dirty || employeeLastName.touched)" class="alert alert-danger">At least 4 characters is required</div>


        <label for="employeeAddress">Address</label>
        <input type="text" formControlName = "employeeAddress" id="employeeAddress">
        <div *ngIf="employeeAddress.invalid && (employeeAddress.dirty || employeeAddress.touched)" class="alert alert-danger">At least 4 characters is required</div>


        <label for="employeeDOB">Date of Birth</label>
        <input type="text" formControlName = "employeeDOB" id="employeeDOB">
        <div *ngIf="employeeDOB.invalid && (employeeDOB.dirty || employeeDOB.touched)" class="alert alert-danger">At least 4 characters is required</div>

        <button type="button" (click)="onSubmit(data.id,employeeFirstNameValue,employeeLastNameValue,employeeAddressValue,employeeDOBValue )">Submit</button>
    </form>
</div>
